<header>
  <span class="h2">{{title}}</span>
  <span class="text-center">Current Weather: {{weather.main}}<img src= "http://openweathermap.org/img/wn/{{weather.icon}}.png"/></span>
</header>
<nav id="main-nav"></nav>
<div id="map-pane"></div>
<div id="filter-pane"></div>



<footer>
  <div>&copy; 2022 {{title}}</div>
</footer>